* {
    font-family: "Quicksand", sans-serif;
}
body {
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
header {
    background-color: #000000;
    margin: 0;
    padding: 2px;
    text-align: center;
    color: white;
}
h1 {
    font-family:  "Bodoni Moda SC", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
    background-color: #000000;

}
.productListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product {
    border: 1px black solid;
    border-radius: 50px;
    padding: 20px 20px;
    height: 550px;
    width: 300px;
    margin: 20px;
    background-color: #000000;
    overflow: hidden;;
}
.productimg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 20px
}
h2 {
    color: #E8E8E8;
    text-wrap: wrap;
    background-color: #000000;
    margin: 0;
}
h6 {
    color: #8C8C8C;
    background-color:#000000;
    margin: 0;
}
p {
    color: #E8E8E8;
    font-size: 24px;
    background-color: #000000;
    margin: 10px 0 20px 0;
}
button {
  border-radius: 8px;
  border: none; 
  outline: none;
  padding: 10px 20px;
  overflow: hidden; 
  background-color: #E8E8E8;
  color: #000000;
  align-items: center;
}
button:hover {
    background-color: #525252;
    color: #E8E8E8;
}